Makefile
CMakeCache.txt
cmake_install.cmake
*.o
*.out
.vscode/
main
CMakeFiles/

# Executive files of data structures
hash_table
splay_tree
stack
queue
circular_queue
deque
singly_linked_list
doubly_linked_list
circular_singly_linked_list
circular_doubly_linked_list
priority_queue
vector
mystring
heap
